<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <style>
        .button-container {
            margin-top: 20px; /* Отступ сверху для кнопки */
        }
    </style>
</head>
<body>
<h1>Список пользователей</h1>
<div>
    <table border="1">
        <tr>
            <th>id</th>
            <th>Имя и фамилия</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Действие</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId}"></td>
            <td th:utext="${user.getName}"></td>
            <td th:utext="${user.getLogin}"></td>
            <td th:utext="${user.getPassword}"></td>
            <td><a th:href="@{/users/edit(id=${user.getId})}">изменить</a>
                <form th:action="@{/users/delete}" method="post">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<div style="margin-top: 20px; margin-left: 40px;">
<input type="button" value="Добавить нового пользователя"
    onclick="window.location.href = 'users/new'"/>
</div>
</body>
</html>